memo.txt
iris/iris-on-ubuntu/azuredeploy.parameters.json
iris/iris-standalone-server-ubuntu/azuredeploy.parameters.json
iris/lb
iris/lb-test
iris/nat-gw
iris/work
iris/availabilityZone
iris/iris-standalone-server-ubuntu/addrole.json
